* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
}


.container {
    min-height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulaire {
    flex: 1;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input,
textarea {
    padding: 1rem;
}